<!DOCTYPE html>
<html>
    <head>
        <style>
            body{width:0;}
        </style>
    </head>
    <body>

        <!-- <audio id="audio_bgm" autoplay loop>
            <source src="../audio/pekora_bgm.mp3" type="audio/mpeg">
        </audio>  -->
        <audio id="audio_whouaaa1">
            <source src="../audio/fanny_whouaaa_1.mp3" type="audio/mpeg">
        </audio>
        <audio id="audio_whouaaa2">
            <source src="../audio/fanny_whouaaa_2.mp3" type="audio/mpeg">
        </audio>

        <script src="http://threejs.org/build/three.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/fflate"></script>
        <script src="https://cdn.jsdelivr.net/npm/fflate/umd/index.js"></script>
        <script src="../javascripts/FBXLoader.js"></script>
        <script src ="../javascripts/demo1.js"></script>
    </body>
</html>