extends layout

block content
  script(src="http://threejs.org/build/three.min.js")
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="https://unpkg.com/fflate")
  script(src="https://cdn.jsdelivr.net/npm/fflate/umd/index.js")
  script(src="../javascripts/FBXLoader.js")
  script(src="../javascripts/demo1.js")

  audio#audio_whouaaa1
    source(src="../audio/fanny_whouaaa_1.mp3" type="audio/mpeg")

  audio#audio_whouaaa2
    source(src="../audio/fanny_whouaaa_2.mp3" type="audio/mpeg")