extends layout

block content
  div#anim-waiter
  div#loading-text
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.7/lottie.min.js")
  script(src="../javascripts/LottieAnimation.js")
