body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
}

a {
  color: #00B7FF;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
  background: url(../images/lion-king.jpg) no-repeat center center;
  /* background: url(https://threejsfundamentals.org/threejs/resources/images/daikanyama.jpg) no-repeat center center; */
  background-size: cover;
}